@charset 'utf-8';

/* Header */
.header-container {
  height: 100%; 
  width: min(100% - 30px, 1200px);
  margin-inline: auto;
  display:flex;
  justify-content: space-between;
  align-items:center;
}

header {
  height: 60px;
  background-color: #1A2233;
  color: #fefefe;
  a {
    color: #fefefe;
  }
}

.header-list {
  width:30svw;
  display:flex;
  justify-content: space-between;
  list-style-type: none;
}

.header-active {
  border-bottom: 2px solid #A07EFF;
}

.nav-link {
  text-decoration: none;
  font-weight: 400;
  padding: 10px;
  border-radius: 6px;
  transition: 0.5s ease;
}

.nav-link:hover {
  background-color: #0D1117;
}

.nav-link.active {
  color: #A07EFF;
  font-weight: 600;
}

.cart-icon {
  color:#fefefe;
  font-size: 28px;
  transition: 0.5s ease;
}

.cart-icon:hover {
  color:#A07EFF;
}