@charset 'utf-8';

/* Header */
.header-container {
  height: 100%; 
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
  justify-content: space-between;
  display: flex;
  align-items:center;
}

header {
  height: 60px;
  background-color: rgb(181, 180, 190);
}

.header-list {
  display:flex;
  gap:25px;
  list-style-type: none;
}

.header-list a {
  text-decoration: none;
  transition: 0.5s ease;
  color: #000;
}

.header-list a:hover {
  color:#f90;
}

.header-active {
  border-bottom: 3px solid #f90;
  font-weight: 500;
  padding-bottom: 18px;
}

.cart-icon {
  color:#000;
  font-size: 28px;
  transition: 0.5s ease;
}

.cart-icon:hover {
  color:#f90;
}